Цвета для сайта {

/* Основные цвета */
    color: #2C6FBA;
    color: #3C618B;
    color: #0E4179;
    color: #5E9ADD;
    color: #80ACDD;

/* Вторичные цвета А */
    color: #FFD02C;
    color: #BFA548;
    color: #A6840E;
    color: #FFDB60;
    color: #FFE58B;

/* Вторичные цвета В */
    color: #FF752C	;
    color: #BF7248;
    color: #A6430E;
    color: #FF9860	;
    color: #FFB38B;

}